<!DOCTYPE html>
<html>
<head>
    <title>Aggiungi Tappa - Wanted Street Food</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>
<body>
    <h1>Aggiungi un nuovo mercato</h1>
    
    <form th:action="@{/admin/tappa}" method="POST" th:object="${tappa}">
        <div>
            <label>Nome Mercato (es. Markthalle Neun):</label>
            <input type="text" th:field="*{nomeMercato}" required />
        </div>
        <div>
            <label>Indirizzo:</label>
            <input type="text" th:field="*{indirizzo}" required />
        </div>
        <div>
            <label>Giorno della settimana:</label>
            <input type="text" th:field="*{giornoSettimana}" required />
        </div>
        
        <div>
            <button type="submit">Salva Tappa</button>
        </div>
    </form>
    
    <a href="/tappe">Annulla e torna alle tappe</a>
</body>
</html>