<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/stile.css}" />
    <title>Registrazione - Wanted Street Food</title>
</head>
<body>
    <h1>Crea il tuo account</h1>
    
    <!-- Il form invia i dati tramite POST all'indirizzo /register -->
    <form th:action="@{/register}" method="POST">
        
        <h3>Dati Personali</h3>
        <div>
            <label>Nome:</label>
            <!-- th:field collega questo input al campo "nome" dell'oggetto "user" -->
            <input type="text" th:field="${user.nome}" required />
        </div>
        <div>
            <label>Cognome:</label>
            <input type="text" th:field="${user.cognome}" required />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" th:field="${user.email}" required />
        </div>

        <h3>Dati di Accesso</h3>
        <div>
            <label>Username:</label>
            <!-- Qui th:field si collega al campo "username" dell'oggetto "credentials" -->
            <input type="text" th:field="${credentials.username}" required />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" th:field="${credentials.password}" required />
        </div>
        
        <div>
            <button type="submit">Registrati</button>
        </div>
    </form>
    
    <p>Hai già un account? <a href="/login">Accedi qui</a></p>
    <a href="/">Torna alla Home</a>
</body>
</html>